# CollegeFootballData API key. Request one at https://collegefootballdata.com/key
CFBD_API_KEY= ATvx7aBk+J6psviZfNBCi+kfv36vEYVw49HdPRhMua6+7y8gRAFXplNgV8zdMEnv

# Optional: override default user agent for scrapers
SCRAPER_USER_AGENT=sec-nil-research/0.1 (academic project)
